.connect {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 0.5px red solid;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
.connection_status {
  span {
    color: red;
    &[data-success="true"] {
      color: greenyellow;
    }
  }
}
.audio_player {
  background-color: rgba(0, 0, 0, 0.681);
  border-radius: 5px;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4px;
  padding: 4px;
  :hover {
    transform: scale(1.1);
  }
}
